  <footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4 i18n>À propos</h4>
          <p i18n>Hyperloop NC révolutionne le transport en Nouvelle-Calédonie avec des voyages rapides, sûrs et écologiques. Grâce à notre système de capsules pressurisées, propulsées par la technologie de lévitation magnétique et des propulseurs électriques, nous transformons la mobilité avec une alternative moderne et durable aux transports traditionnels. Notre engagement envers l'innovation et la réduction de l'empreinte carbone nous motive à contribuer activement à l'évolution du paysage du transport en Nouvelle-Calédonie.</p>
          <p i18n>Tous droits réservés © 2023 Hyperloop NC</p>
        </div>
        <div class="col-lg-3">
          <h4 i18n>Liens utiles</h4>
          <ul class="list-unstyled">
            <li i18n><a class="nav-link underline" href="/" >Accueil</a></li>
            <li i18n><a class="nav-link underline" href="/lignes">Nos lignes</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4 i18n>Contact</h4>
          <ul class="list-unstyled">
            <li>(+687) 34 56 78</li>
            <li>contact@hyperloop-nc.nc</li>
            <li i18n> 12 Rue du Futur, à Nouméa</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>